= form_for [blacklisted_ingredient] do |f|
  - if blacklisted_ingredient.errors.any?
    #error_explanation.alert-danger
      %h2= "#{pluralize(article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - blacklisted_ingredient.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  = button_tag class: 'btn btn-success' do
    Add
    %span.glyphicon.glyphicon-save
