!!!
%html{ lang: 'en' }
  %head
    %title Food Empire
    = Gon::Base.render_data({})
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    .container-fluid
      .row
        .col-lg-12
          -if notice
            %p.alert-success= notice
          -if alert
            %p.alert-danger= alert
    .wrapper
      .box
        .row
          .column.col-sm-2#sidebar
            %br
            = link_to "Food Empire", root_url, class: "logo"
            %ul.nav
              -if user_signed_in?
                %li= link_to "Favorite", favorites_path
                %li= link_to 'Settings', user_path(current_user)
                %li= link_to "Log out", destroy_user_session_path, method: :delete
              -else
                %li= link_to "Registration", new_user_registration_path
                %li= link_to "Sign in", new_user_session_path

              -if params[:action] == 'index'
                %li=render 'recipes/label'

            .nav
              #selected_ingredients
                %ul.list-unstyled
          .column.col-sm-10#main
            .padding
              .full.col-sm-9
                .row
                  .col-sm-10
                    =yield
